<div class="trialpartWrapper" style="float:center;">
    <p align="left"> 첫 번째 훈련은, 새로운 단어들을 접하는 것입니다.  </p>
    <p align="left"> 사진이 제시되며, 그 아래에 있는 버튼을 누르면 그 물체에 대한 크'샬라어 단어가 재생됩니다. </p>
    <p align="left"> 단어들을 암기할 필요는 없지만, 집중해서 들어주시길 바랍니다. </p>
    <p>
        <%= continueButton() %>
    </p>
</div>
