<div class="trialpartWrapper" style="float:center;">
    <p align="left"> 세 번째 훈련은, 단어를 추측하는 일입니다. </p>
    <p align="left"> 사진이 제시되며, 그 아래의 버튼을 누르면 해당하는 단어가 재생됩니다. </p>
    <p align="left"> 이후 또 다른 사진이 제시되며, 그 아래의 버튼을 누르면 두 개의 단어가 재생됩니다. </p>
    <p align="left"> 두 개의 단어 중 무엇이 크'샬라어의 단어로 더 적절한지 고르세요. </p>
    <p>
        <%= continueButton() %>
    </p>
</div>
