
<div class="trialpartWrapper" style="text-align: left;">
	환영합니다! 
	<p>
	헤드폰을 낀 뒤, 음성을 들어보세요: <%= makeSoundButton("pharon.mp3") %>
</div>

<div class="trialpartWrapper" style="text-align: left;">
	<%= continueCheckbox() %> 'pharon'이라는 단어가 잘 들립니다.
</div>

<div class="trialpartWrapper" style="text-align: left;">
	<hr>
	이 실험은 익명으로 진행됩니다. 다음 내용에 대하여 동의해주세요.<br>
	<div style="padding: 1ex 0em 1.5ex 1.5em;">
		<a href="#" onclick="$('#consent').toggle(); return false">나는 무엇에 동의하나요?</a><br>
		<div id="consent" style="display:none; font-size:80%;">
			<p>
				<U> 1. 연구의 목적 </U> <br>
				본 연구는 보편 언어 화자의 문법 구조를 확인하기 위한 목적으로 계획하였습니다.
			</p>
			<p>
				<U> 2. 연구대상자의 참여기간, 절차 및 방법 </U> <br>
				연구대상자가 참여 의사를 밝혀주면 설문지를 작성하게 될 예정이며 1회의 설문지 작성이 필요합니다. 소요시간은 약 90분으로 예상됩니다. 설문지의 내용은 인구학적 기초자료, 인공 언어 학습, 학습 내용 파악으로 구성되어 있습니다
			</p>
			<p>
				<U> 3. 연구대상자에게 예상되는 위험 및 이득 </U> <br>
				특별한 부작용 및 위험 요소는 없습니다만 작성해 주신 설문지는 무기명으로 정보 유출 가능성이 없으나 만일 연구 참여 도중 본인이 느끼는 위험요소에 대한 질문이 있으면 연구자에게 즉시 문의 해 주십시오. <br>
				귀하가 이 연구에 참여하는데 있어서 직접적인 이득은 없으나 제공하는 정보는 이론언어학의 기초자료 수립에 도움이 될 것입니다. 
			</p>
			<p>
				<U> 4. 개인정보 보호에 관한 사항 </U> <br>
				본 연구를 통해 얻은 모든 설문 관련 정보의 비밀 보장을 위해 최선을 다할 것입니다. 연구대상자의 신상을 파악할 수 있는 기록은 비밀로 보장될 것이며, 연구의 결과가 출판될 경우 연구대상자의 신원은 비밀로 보호될 것입니다.
			</p>
			<p>
				<U> 5. 연구 참여에 따른 손실에 대한 보상 </U> <br>
				특별한 참여자의 위험요소 및 손실은 없습니다. 다만 설문 작성 시 90여분 정도의 시간이 소요될 것으로 예상됩니다.
			</p>
			<p>
				<U> 6. 개인정보 제공 및 보관기간에 관한 내용 </U> <br>
				연구 대상자의 원자료는 컴퓨터를 통해 암호화되어 개인 식별할 수 없도록 처리되며, 본 연구의 목적으로만 사용될 것이며 연구가 종료 된 후 1년이 지나면 파쇄의 방법으로 폐기 처리 할 예정입니다.
			</p>
			<p>
				<U> 7. 동의의 철회에 관한 사항 </U> <br>
				언제든지 어떠한 불이익 없이 참여 도중에 그만둘 수 있습니다. 만일 귀하가   연구에 참여하는 것을 그만두고 싶다면 연구자에게 즉시 말씀해 주십시오. 도중 작성한 도구는 파쇄의 방법으로 폐기 처리 할 것입니다.
			</p>
			<p>
				<U> 8. 그 밖에 연구책임자가 필요하다고 인정하는 사항 </U> <br>
				연구와 관련한 궁금한 점이 있으시면 다음의 연락처로 문의해 주시면 연구책임자가 자세하게 답변해 드리겠습니다. <br>
				(연구책임자 소속 및 연락처 :  지준호(언어학과, 010-5897-3648) <br>
				또한 연구대상자로서의 귀하의 권리에 대한 질문이 있다면 아래의 연락처로 연락해 주십시오. <br>
			</p>
		</div> 
	</div>
	<%= continueCheckbox() %> 나는 자유로운 의사에 따라 본 연구에 참여할 것을 동의합니다.
</div>

<div class="trialpartWrapper" style="text-align: center;">
	<hr>
	<%= continueButton() %>
</div>

