<div class="trialpartWrapper" style="float:center;">
	<p>
	    <img src="resources/pictures/train/<%= this.img %>" width="300" style="padding:10px; border: none;">
    </p>
    <p>
        <%= makeSoundButton("train/".concat(this.wav.concat(".mp3"))) %>
    </p>
</div>

<div style="clear: both; height: 1px;">&nbsp;</div>
